@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Cabin';
@import 'https://fonts.googleapis.com/css?family=Droid+Serif';
* {
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  font-family: 'Century Gothic', sans-serif; }
  body a {
    -webkit-transition: 0.3s all; }

@media (min-width: 1200px) {
  /*.container {
    width: 1300px;
}*/ }

.circle-item {
  border: 4px solid #579f33;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 16px 10px 15px 0px; }
  .circle-item:hover, .circle-item:focus {
    border: 4px solid #fff; }

i.fa.fa-circle {
  color: #579f33;
  font-size: 10px;
  padding: 15px 10px 0 0; }
  i.fa.fa-circle:hover, i.fa.fa-circle:focus, i.fa.fa-circle:active {
    color: #fff; }

.item-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc; }
  .item-sub:hover, .item-sub:focus, .item-sub:active {
    color: #fff; }

section.header {
  padding: 30px 0 10px; }

ul {
  padding: 0;
  margin: 0; }

.idiomas {
  height: auto;
  width: auto;
  overflow: hidden; }
  .idiomas ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style-type: none; }
    .idiomas ul li {
      font-size: 12px; }
      .idiomas ul li a {
        color: #666; }

.icon_peru {
  background: url(../images/peru.svg) no-repeat;
  padding-left: 30px; }

.icon_peru:hover, .icon_peru:active, .icon_peru:focus {
  background: url(../images/peru.svg) no-repeat;
  padding-left: 30px;
  margin-left: 20px; }

.icon_euu {
  background: url(../images/ingles-gris.svg) no-repeat;
  padding-left: 30px;
  margin-left: 20px; }

.icon_euu:hover, .icon_euu:active {
  background: url(../images/ingles.svg) no-repeat;
  padding-left: 30px;
  margin-left: 20px; }

.logo-m-seeker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/*redes*/
.redes-seeker {
  padding: 10px 0 15px; }
  .redes-seeker ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none; }
    .redes-seeker ul li {
      padding: 0 5px; }
      .redes-seeker ul li .icono-primary {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background: #387014;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        height: 35px;
        width: 35px;
        text-align: center;
        line-height: 40px; }

.redes-seeker .social-in .icono-primary:hover {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #EC8B00;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 40px; }

.redes-seeker .social-in li i {
  display: inline-block;
  font-size: 20px; }

ul.social-in li i.rs {
  background: url(../images/flickr.svg) no-repeat;
  width: 40px;
  height: 24px; }

/*//*/
.search {
  float: right;
  position: relative;
  width: auto;
  border: 2px solid #dbdbdb;
  background: #fff;
  border-radius: 4px;
  margin-left: 30px;
  height: 40px; }

.search input[type="text"] {
  outline: none;
  padding: 10.5px 15px;
  background: none;
  width: 250px;
  border: none;
  font-size: 0.8em;
  color: #4c4c4c; }

.search input[type="submit"] {
  width: 40px;
  height: 40px;
  background: url(../images/btn_buscar.png) 0px 0px no-repeat;
  border: none;
  cursor: pointer;
  position: absolute;
  outline: none;
  top: -2px;
  right: -2px; }

/*/*/
/*menu*/
.navbar-default {
  border: none;
  background: none; }

.navbar {
  margin-bottom: 0px; }

.collapse.navbar-collapse {
  border-top: 1px solid #ddd; }

.nav-flex {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .nav-flex li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav-flex li a {
      text-decoration: none;
      border: none;
      font-size: 16.5px;
      color: #432918;
      padding: 14px 10px;
      font-weight: bold; }
    .nav-flex li a:hover {
      font-weight: bold;
      color: #fff; }

/*-hover-on-*/
.nav-flex li {
  position: relative; }
  .nav-flex li a:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ec8b00;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: color 0.3s,-webkit-transform 1s ease-out;
    transition: color 0.3s,-webkit-transform 1s ease-out;
    transition: color 0.3s,transform 1s ease-out;
    transition: color 0.3s,transform 1s ease-out,-webkit-transform 1s ease-out; }
  .nav-flex li a:active::before {
    background-color: #ec8b00; }
  .nav-flex li a:hover::before, .nav-flex li a:focus::before {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }

/*.nav-flex li {
    background: url(../images/hover-menu.png) bottom center no-repeat;
    color: #000;
    
    -webkit-transition: width 2s;
    transition: width 2s;
    background-position-x: -300px;
}

*/
.nav-flex li:hover {
  background: #579e32;
  color: #fff;
  font-weight: 900;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

/*-hover-end--*/
.navbar-header .redes-seeker {
  display: none; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
  border: none; }

.navbar-default .navbar-toggle {
  border: none; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-toggle .icon-bar {
  display: block;
  width: 37px;
  height: 4px;
  border-radius: 1px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px; }

@media (max-width: 1200px) {
  .nav-flex li a {
    font-size: 13px; } }

@media (max-width: 992px) {
  .nav-flex li a {
    font-size: 11px; } }

@media (max-width: 768px) {
  .nav-flex {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .nav-flex li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .nav-flex li a {
        text-decoration: none;
        border: none;
        font-size: 15px;
        color: #ffffff;
        padding: 14px 0px; }
  .navbar-default {
    background-color: #3C7B19; } }

@media (max-width: 560px) {
  .head-right .redes-seeker ul {
    display: none; }
  .navbar-header .redes-seeker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 9px 0 0 9px; } }

@media (max-width: 391px) {
  .search input[type="text"] {
    width: 178px; } }

/*FOOTER 1*/
.footer-top {
  width: 100%;
  background: #579e32;
  display: block;
  padding: 30px 0; }

.footer-in h4 {
  color: #747272;
  font-size: 1.4em; }

.footer-in p i {
  width: 30px;
  height: 30px;
  background: url(../images/img-sprite.png) no-repeat -235px -11px;
  display: inline-block;
  vertical-align: middle; }

.footer-in h4 i.cross {
  background-position: -275px -11px; }

.footer-in h4 i.down {
  background-position: -313px -11px; }

.footer-in p {
  color: #ffffff;
  font-size: 18px; }

.icon_direccion {
  background: url(../images/icon_direccion.png) no-repeat;
  height: 56px;
  width: 56px;
  float: left;
  margin-right: 10px; }

.icon_correo {
  background: url(../images/icon_correo.png) no-repeat;
  height: 56px;
  width: 56px;
  float: left;
  margin-right: 10px; }

.icon_fono {
  background: url(../images/icon_fono.png) no-repeat;
  height: 56px;
  width: 56px;
  float: left;
  margin-right: 10px; }

.footer-in .fono {
  font-size: 24px;
  font-weight: bold; }

.gracias-a {
  padding-right: 20px; }
  .gracias-a img {
    width: auto;
    height: 46px; }

/***footer 2*/
.footer-middle {
  background: url(../images/sombra-footer.png) top center no-repeat #579e32;
  padding-top: 40px;
  padding-bottom: 20px; }

.footer-middle-in {
  float: left;
  width: 20%; }

.footer-middle-in h6 {
  color: #fff;
  font-size: 1.3em;
  padding: 0 0 0.4em;
  text-transform: uppercase; }

.footer-middle-in p {
  color: #c9c9c9;
  font-size: 0.9em;
  line-height: 1.9em;
  width: 79%; }

.footer-middle-in ul li {
  list-style: none; }

.footer-middle-in ul li a {
  color: #c9c9c9;
  font-size: 0.9em;
  text-decoration: none;
  padding: 0 0 0.5em;
  display: block; }

.footer-middle-in ul li a:hover {
  color: #f95a32; }

.footer-class {
  color: #356d12;
  font-size: 10px;
  font-weight: bold; }

.footer-class-2 {
  color: #356d12;
  font-size: 10px;
  text-align: right;
  font-weight: bold; }

.footer-class-2 a {
  color: #f95a32;
  text-decoration: none; }

.footer-class-2 a:hover {
  color: #c9c9c9; }

@media (max-width: 768px) {
  .footer-class {
    text-align: center; }
  .footer-class-2 {
    text-align: center; }
  .gracias-a {
    text-align: center; }
    .gracias-a img {
      width: auto;
      height: 35px; }
  .btn_suscribirse {
    width: 100%; } }

.mg-0 {
  margin: 0px !important; }

.mv-21 {
  margin-top: 21px;
  margin-bottom: 21px; }

.pd-0 {
  padding: 0px !important; }

.mt-21 {
  margin-top: 21px; }

.mb-35 {
  margin-bottom: 35px; }

.mb-49 {
  margin-bottom: 49px; }

.mr-6 {
  margin-right: 6px !important; }

.mv-49 {
  margin: 49px 0; }

.mt-35 {
  margin-top: 35px !important; }

.mt-60 {
  margin-top: 60px !important; }

.all-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center; }

.mt-81 {
  margin-top: 81px; }

.mt-91 {
  margin-top: 91px; }

.mt-4 {
  margin-top: 4%; }

.pd-105 {
  padding-top: 105px; }

.pt-20 {
  padding-top: 20px; }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.f-s {
  font-size: 21px; }

.width-100 {
  width: 100%; }

/*carousel-banner*/
#banner-carousel.carousel .carousel-inner .item {
  opacity: 0.5;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }

#banner-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }

#banner-carousel.carousel .carousel-indicators {
  position: absolute;
  bottom: 12px; }

#banner-carousel.carousel .carousel-indicators > li {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 12px;
  width: 12px;
  display: inline-block;
  border-radius: 50px;
  border: 3px solid #fff;
  margin: 0px; }

#banner-carousel.carousel .carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #579E32; }

.banner-text {
  position: absolute;
  z-index: 100;
  bottom: 60px;
  left: 0;
  right: 0;
  text-align: center; }

/*.banner-text a.btn {
    background-color: #ec8b00;
    border-color: #ec8b00;
    color: #fff;
}*/
.box-trans {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.45);
  margin: auto;
  width: 36%;
  padding: 10px; }
  .box-trans h2 {
    font-weight: bold;
    font-size: 35px; }
  .box-trans h3 {
    font-size: 20px; }

/*medias*/
@media (max-width: 768px) {
  #carousel {
    margin-bottom: 2%; }
  #carousel img {
    height: 345px;
    width: 100%; }
  .box-trans {
    width: auto;
    background-color: #3c7b19; }
  .banner-text {
    position: absolute;
    z-index: 100;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #3c7b19;
    padding-bottom: 50px; }
  .banner-text {
    position: relative; }
  .mde {
    padding-top: 0px; } }

@media (max-width: 560px) {
  #carousel img {
    height: 100% !important; }
  .box-trans h2 {
    font-size: 14px !important; }
  .box-trans h3 {
    font-size: 14px !important;
    margin-top: 0; } }

/*****mde-saweto****/
/*mde*/
.mde {
  padding: 90px 0 120px 0;
  background: url(../images/fondo-saweto.png) center bottom no-repeat; }

.mde h3 {
  color: #ec8b00;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px; }

.mde p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px; }

.icons-aidesep {
  background: url(../images/logo-aisedep.png) no-repeat;
  width: 115px;
  height: 120px;
  margin: 0 auto; }

.icons-conap {
  background: url(../images/logo-conap.png) no-repeat;
  width: 115px;
  height: 120px;
  margin: 0 auto; }

/*noticias*/
.noticias {
  background: url(../images/fondo_noticias.jpg); }
  .noticias h3 {
    color: #ffffff;
    font-size: 36px;
    text-align: center; }

.noticias .col-md {
  box-shadow: 6px 5px 5px 0px rgba(44, 80, 15, 0.75);
  margin: 20px 0 20px; }

.index-noticias .col-md {
  box-shadow: 6px 5px 5px 0px rgba(44, 80, 15, 0.75); }

.noticias {
  padding: 3em 0; }

.col-md {
  background: #fff;
  padding: 20px; }
  .col-md img {
    width: 100%; }

.top-content h5 a {
  font-weight: bold;
  color: #494949;
  text-decoration: none;
  font-size: 18px; }

.top-content h5 {
  padding-top: 18px; }

.top-content h5 a:hover {
  color: #494949; }

.fecha-index-noticia {
  color: #579e32;
  font-size: 14px;
  font-weight: bold; }

.text-fecha-index-noticia {
  margin-bottom: 20px;
  font-size: 16px;
  padding-top: 16px; }

.btn-index-noticias {
  display: inline-block;
  background-color: #fff;
  color: #432918;
  font-size: 14px;
  font-weight: 900;
  border-radius: 5px;
  float: left;
  border: 1px #000 solid;
  padding: 8px 25px; }

.btn-index-noticias:hover, .btn-index-noticias:focus, .btn-index-noticias:active {
  color: #ffffff;
  text-decoration: none;
  background: #432918; }

/*--------------------------*/
/*       hovers  box        */
/*--------------------------*/
a.link-hover {
  position: relative;
  display: block; }

a.link-hover:before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #cd8318;
  opacity: 0.75;
  height: 100%;
  display: none;
  -webkit-transition: 0.3s all; }

a.link-hover:after {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e003";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40px;
  height: 100%;
  top: 44%;
  font-size: 40px;
  color: #fff;
  display: none;
  -webkit-transition: 0.3s all; }

a.link-hover:hover:before, a.link-hover:hover:after {
  display: block;
  -webkit-transition: 0.3s all; }

/*ii*/
.pl_xs_left {
  display: block;
  float: left;
  width: 100%;
  position: relative; }

.articulos article figure {
  float: left;
  overflow: hidden;
  width: 100%; }

.articulos article figure img,
.articulos article figure .lupa,
.articulos article figure .lupa:before,
.articulos article figure .lupa .icon {
  -webkit-transition: 0.4s;
  transition: 0.4s; }

/*ejecutoras*/
/*ejecutores carrousel*/
.ejecutoras {
  padding-top: 100px;
  padding-bottom: 50px;
  background: url(../images/fondo-ejecutoras.png) bottom right no-repeat #f5f5f5; }

.ejecutoras {
  padding: 70px 0 70px; }

.ejecutoras a {
  text-decoration: none; }

.ejecutoras .content h3 {
  text-align: center;
  font-size: 36px;
  color: #ec8b00;
  margin-bottom: 30px; }

.ejecutoras .content p {
  text-align: center;
  font-size: 18px;
  padding-bottom: 30px; }

.ejecutoras a .box-item:hover {
  color: #fff;
  background: #548335;
  display: block;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all; }

.box-item {
  color: #000;
  overflow: hidden;
  border-bottom: 1px #dfdfdf solid;
  padding: 0 20px; }
  .box-item h3 {
    font-weight: bold; }
  .box-item p {
    font-size: 13px; }

.resalt {
  background: #548335;
  color: #fff;
  overflow: hidden;
  border-bottom: 1px #dfdfdf solid;
  padding: 0 20px; }
  .resalt h3 {
    font-weight: bold; }
  .resalt p {
    font-size: 13px; }

.ejecutoras a .resalt:hover {
  color: #fff;
  background: #C77605;
  display: block;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all; }

@media (max-width: 992px) {
  .ejecutoras .item .col-md-6 {
    text-align: center; } }

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/
#fade-quote-carousel.carousel {
  padding-bottom: 60px; }

#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: -15px; }

/**nav**/
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #d4d4d4;
  border: none;
  width: 16px;
  height: 16px;
  margin: 0px; }

#fade-quote-carousel.carousel .carousel-indicators .active {
  border: none;
  width: 16px;
  height: 16px;
  background-color: #579E32;
  margin: 0px; }

/*.boxstcm*/
/*ENLACES*/
.index-enlaces h5 {
  text-align: center;
  font-size: 20px;
  padding: 20px 0; }

.index-enlaces .col-md-4 {
  padding-top: 3em; }

.index-enlaces .col-md {
  padding: 0px;
  box-shadow: 6px 5px 5px 0px rgba(236, 236, 236, 0.75); }

.centrar-div {
  width: 120px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px; }

.btn-index-enlaces {
  display: inline-block;
  background: #ec8b00;
  color: #ffffff;
  font-size: 12px;
  border-radius: 5px;
  float: left;
  padding: 6px 25px;
  text-align: center;
  width: 120px; }

.btn-index-enlaces:hover, .btn-index-enlaces:focus, .btn-index-enlaces:active {
  color: #ffffff;
  text-decoration: none;
  background: #432918; }

.icons_enlace {
  width: 53px;
  height: 74px;
  margin: 0 auto; }

.icon_hoja {
  display: block;
  overflow: hidden;
  width: 53px;
  height: 74px;
  background: url(../images/icon_enlace_01.png); }

.icon_comu {
  display: block;
  overflow: hidden;
  width: 53px;
  height: 74px;
  background: url(../images/icon_enlace_02.png); }

.icon_mapa {
  display: block;
  overflow: hidden;
  width: 53px;
  height: 74px;
  background: url(../images/icon_enlace_03.png); }

/*-----///////////------*/
/* ---carousel logos--*/
/***sldeflex***/
.content-middle-in, .content-bottom-in {
  padding: 5em 0; }

#flexiselDemo1, #flexiselDemo2 {
  display: none; }

.nbs-flexisel-container {
  position: relative;
  max-width: 100%; }

.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  list-style-type: none;
  text-align: center; }

.nbs-flexisel-inner {
  overflow: hidden;
  width: 90%;
  margin: 0 auto; }

.nbs-flexisel-item {
  float: left;
  cursor: pointer;
  position: relative;
  line-height: 0px; }

.nbs-flexisel-item > img {
  cursor: pointer;
  position: relative; }

/*---- Navigation ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  z-index: 100; }

.nbs-flexisel-nav-left {
  left: 0px;
  background: url(../images/img-sprite.png) no-repeat -149px 0px; }

.nbs-flexisel-nav-right {
  right: 0px;
  background: url(../images/img-sprite.png) no-repeat -187px 0px; }

.men {
  margin: 0 4% 0; }

.bag h5 {
  text-align: left; }

/**/
/*SUSCRIBIRSE*/
.suscribirse {
  background: url(../images/fondo_suscribise.jpg) center bottom no-repeat;
  min-height: 600px; }

.cuadro-verde {
  position: absolute;
  background: url(../images/fondo_invitacion.png) no-repeat;
  padding: 50px 40px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  max-width: 490px;
  height: 215px;
  top: 250px;
  right: -1px; }

.posicion-verde {
  position: relative; }

.buscar_curso {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #387014; }

/*SUSCRIBIRSE*/
.suscribirse {
  background: url(../images/fondo_suscribise.jpg) center bottom no-repeat;
  min-height: 600px; }

.cuadro-verde {
  position: absolute;
  background: url(../images/fondo_invitacion.png) no-repeat;
  padding: 50px 40px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  max-width: 490px;
  height: 215px;
  top: 250px;
  right: -1px; }

.posicion-verde {
  position: relative; }

.buscar_curso {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #387014; }

.form-control {
  display: block;
  width: 100%;
  height: 55px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #e9ce0c;
  background-color: #6f9e28;
  background-image: none;
  border-radius: 4px;
  border: none; }

.btn_suscribirse {
  background: #432918;
  border: none;
  border-radius: 5px;
  height: 55px;
  color: #fff;
  font-weight: bold;
  padding: 0 30px; }

.btn_suscribirse:hover {
  background: #ec8b00;
  border: none;
  border-radius: 5px;
  height: 55px;
  color: #fff;
  font-weight: bold;
  padding: 0 30px; }

.margin_cero {
  margin: 0; }

.interesado-box {
  padding-top: 15px; }

.interesado-box h4 {
  color: #fff;
  font-weight: bold;
  font-size: 35px;
  margin: 0 0 5px 0; }

.interesado-box p {
  color: #fff;
  font-size: 18px;
  margin: 0 0 5px 0; }

.icon_suscribirse {
  background: url(../images/icon_suscribirse.png) no-repeat;
  height: 84px;
  width: 84px;
  float: left;
  margin-right: 20px; }

form input.form-control[type=email], form input.form-control[type=text] {
  color: #e9ce0c;
  background-color: #6f9e28; }

input[type="email"]::-webkit-input-placeholder {
  color: #E8CD1D !important; }

input[type="email"]:-moz-placeholder {
  /* Firefox 18- */
  color: #E8CD1D !important; }

input[type="email"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #E8CD1D !important; }

input[type="email"]:-ms-input-placeholder {
  color: #E8CD1D !important; }

input[type="text"]::-webkit-input-placeholder {
  color: #E8CD1D !important; }

input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #E8CD1D !important; }

input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #E8CD1D !important; }

input[type="text"]:-ms-input-placeholder {
  color: #E8CD1D !important; }

@media (max-width: 880px) {
  .suscribirse {
    background-position: 73% 100%; } }

@media (max-width: 560px) {
  .cuadro-verde {
    background-size: 100%;
    padding: 30px;
    right: 0px;
    font-size: 13px;
    text-align: center;
    width: 60%; }
  .suscribirse {
    background-position: 54% 100%; } }

@media (max-width: 390px) {
  .cuadro-verde {
    padding: 12px;
    font-size: 11px;
    text-align: center; } }

/* Mobile *
.icon1-trigger {
    display: none;
}
.sub-icon1 img{
    border:none;
    display:inline-block;
    vertical-align:middle;
}
.cart_box{
    margin-bottom:1em;
    border-bottom:1px solid #E0E0E0;
    margin-bottom:10px;
    padding-bottom:10px;
}
.list_img{
    float:left;
    width:20%;
    border:1px solid #e0e0e0;
    margin-right:6%;
}
.list_desc{
    float:left;
    width:50%;
}
.list_desc h4 a{
    color:#000 !important;
    font-size:12px !important;
    text-decoration:none;
    font-weight:400;
    text-transform:uppercase;
    padding: 1em 0 !important;
}
span.actual{
    color:#92d3d0;
    font-size:13px;
    font-weight:600;
}
.list_desc h4 a:hover{
    color: #f54d56;
}
.total{
    padding:10px;
    background:#F9F9F9;
    margin: 0.3em 0;
}
.cart_box, .cart_box1{
    position:relative;
}
.alert-close {
  background:#fb5e33 url('../images/close.png') no-repeat 6px 6px;
  cursor: pointer;
  height: 22px;
  width: 22px;
  position: absolute;
  right:-12px;
  top:5px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.alert-close1 {
  background:#fb5e33 url('../images/close.png') no-repeat 6px 6px;
  cursor: pointer;
  height: 22px;
  width: 22px;
  position: absolute;
  right:-12px;
  top:5px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.total_left{
    float:left;
}
.total_right{
    float:right;
    font-size:0.85em;
    color:#92d3d0;
    font-weight:600;
}
.check_button{
    text-align:center;
}
.check_button a{
    color:#fff;
    font-size:0.8125em;
    text-transform:uppercase;
    font-weight:600;
    text-decoration:none;
    border: none;
    cursor: pointer;
    padding:8px 10px !important;
    display: inline-block;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #92d3d0;
    margin:10px auto 0;
    width:40%;
}
.check_button a:hover{
    background:#fb5e33;
    color:#fff !important;
}
/*----*
.interesado-box .search{
    float:right;
    position:relative;
    width: auto;
    border: 2px solid #dbdbdb;
    background: #fff;
    border-radius: 4px;
    margin-left: 30px;
}
.interesado-box  .search input[type="text"] {
    outline: none;
    padding: 10.5px 15px;
    background: none;
    width: 250px;
    border: none;
    font-size:0.8em;
    color:#4c4c4c;
}
.interesado-box  .search input[type="submit"] {
    width: 40px;
    height: 40px;
    background:url(../images/btn_buscar.png) 0px 0px no-repeat;
    border: none;
    cursor: pointer;
    position:absolute;
    outline: none;
    top: -2px;
    right: -2px;
}


/*******************
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 25px;
  right: 10px;
  overflow: hidden;
  width: 52px;
  height: 52px;
  border: none;
  text-indent: 100%;
  background: url('../images/up.png') no-repeat 0px 0px;
}
p.wel{
    float:left;
    font-size:1em;
    font-style:italic;
  margin-top: 0.5em;
}
p.wel a{
    text-decoration:none;
    color:#a7a49c;
}
p.wel a:hover{
    color: #f95a32;
}
.header-can{
    float:right;
 width: 40%;
}
ul.social-in{
    float:left;
    /*width: 45%;
    margin-top: 0.5em;
}
ul.social-in li{
    display: inline-block;
}
ul.social-in li  i{
    width: 36px;
    height: 36px;
    display: inline-block;
    margin: 0 3px;
}
ul.social-in li  i.facebook{
    background: url(../images/social_facebook.png)no-repeat ;
}
ul.social-in li  i.twitter{
    background: url(../images/social_twitter.png)no-repeat ;
}
ul.social-in li  i.youtube{
    background: url(../images/social_youtube.png)no-repeat ;
}
ul.social-in li  i.rs{
    background: url(../images/social_rs.png)no-repeat ;
}
ul.social-in li  i:hover{
}
ul.social-in li  i.facebook:hover{
}
ul.social-in li  i.twitter:hover{
}
ul.social-in li  i.skype:hover{
}


/**hover*
.snip1584 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}

.snip1584:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(117, 6, 6, 0.86);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1584 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snip1584 h3,
.snip1584 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.snip1584 h3 {
  font-weight: 400;
}
.snip1584 h5 {
    color: #9a0404;
  font-weight: normal;
  background-color: #dfb42a;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
    font-size: 20px;
    font-weight: bold;
}
.snip1584 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584:hover h3,
.snip1584.hover h3,
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1584:hover h3,
.snip1584.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}


/*--- slider-css --
.slider {
    position: relative;
}
.rslides {
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius:50px;
    border:3px solid #fff;
}
.callbacks_here a:after{
    background:#579E32;
}
.callbacks_tabs a{
    visibility:hidden;
}
.callbacks_tabs li{
    display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
    position: absolute;
    bottom: 20px;
    z-index: 999;
    left: 0;
    right: 0;
    text-align: center;
}
.banner-mat{
    background: #000;
    width: 100%;
    display: block;
    background-size: cover;
}
.banner-bottom{
    position: absolute;
    background:#92d3d0;
    padding:1.5em 1em;
    border-bottom:7px solid #8dcac8;
}
.banner-matter{
    float:right;
}
.banner-matter p{
    font-size:1em;
    color:#fff;
    float:left;
    padding: 0.7em 1em 0 0;
}
.banner {
    position: relative;
}
.purchase {
  position: absolute;
  right: 7%;
}
.banner-text{
    position: absolute;
    z-index: 100;
    bottom: 60px;
    left: 0;
    right: 0;
    text-align: center;
}
.banner-text a.btn{
    background-color: #ec8b00;
    border-color: #ec8b00;
    color: #fff;
}
.banner-text a.btn:hover, .banner-text a.btn:focus{
    text-decoration: none;
}
/* Shutter In Vertical */
/*----*
h3.future{
    color:#747272;
    font-size:1.3em;
    padding:0 1em;
    text-align: center;
}
.col-md{
    background:#fff;
    padding:20px;
}
.col-md img{
    width:100%;
}
.content-top-in {
  padding: 3em 0;
}
p.dollar{
    float:right;
    border:1px solid #636363;
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 46%, rgba(208,208,208,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,rgba(238,238,238,1)), color-stop(100%,rgba(208,208,208,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 46%,rgba(208,208,208,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 46%,rgba(208,208,208,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 46%,rgba(208,208,208,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 46%,rgba(208,208,208,1) 100%);
    font-size:1.2em;
    line-height: 1.3em;
}
p.dollar span{
    border-right:1px solid #636363;
    padding: 4px ;
  display: inline-block;
  color:#636363;
}
p.dollar span:nth-child(3){
    border-right:none;
}
p.dollar span.in-dollar{
    background: rgb(252,94,53);
    background: -moz-linear-gradient(top, rgba(252,94,53,1) 0%, rgba(252,94,53,1) 0%, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 58%, rgba(71,71,71,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,94,53,1)), color-stop(0%,rgba(252,94,53,1)), color-stop(0%,rgba(119,119,119,1)), color-stop(58%,rgba(119,119,119,1)), color-stop(100%,rgba(71,71,71,1)));
    background: -webkit-linear-gradient(top, rgba(252,94,53,1) 0%,rgba(252,94,53,1) 0%,rgba(119,119,119,1) 0%,rgba(119,119,119,1) 58%,rgba(71,71,71,1) 100%);
    background: -o-linear-gradient(top, rgba(252,94,53,1) 0%,rgba(252,94,53,1) 0%,rgba(119,119,119,1) 0%,rgba(119,119,119,1) 58%,rgba(71,71,71,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,94,53,1) 0%,rgba(252,94,53,1) 0%,rgba(119,119,119,1) 0%,rgba(119,119,119,1) 58%,rgba(71,71,71,1) 100%);
    background: linear-gradient(to bottom, rgba(252,94,53,1) 0%,rgba(252,94,53,1) 0%,rgba(119,119,119,1) 0%,rgba(119,119,119,1) 58%,rgba(71,71,71,1) 100%);
    color:#fff;
}
/*----*/
/*interna1 MDE SAWETO*/
.body-internas {
  background-image: url(../images/bg-mde-saweto.jpg);
  padding: 40px 0 40px;
  background-repeat: no-repeat;
  background-position: 0 100%; }
  .body-internas .section-principal {
    background-image: url(../images/pastomenu.svg);
    background-repeat: no-repeat;
    background-position: 0 100%;
    text-align: center;
    color: #fff;
    padding: 10px; }
    .body-internas .section-principal h1 {
      font-size: 21px;
      font-weight: bold; }
  .body-internas .subsecciones {
    background-color: #F2F2F2; }
    .body-internas .subsecciones ul {
      list-style: none; }
      .body-internas .subsecciones ul a {
        padding: 6px 0;
        color: #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .body-internas .subsecciones ul a:hover, .body-internas .subsecciones ul a:focus, .body-internas .subsecciones ul a:active {
          text-decoration: none;
          color: #fff; }
      .body-internas .subsecciones ul li {
        font-weight: bold;
        padding: 0 15px; }
        .body-internas .subsecciones ul li:hover, .body-internas .subsecciones ul li:focus, .body-internas .subsecciones ul li:active {
          text-decoration: none;
          background-color: #ED9009;
          color: #fff; }
      .body-internas .subsecciones ul p {
        padding: 10px 0;
        margin: 0;
        font-size: 13px; }
        .body-internas .subsecciones ul p:hover, .body-internas .subsecciones ul p:focus {
          color: #fff; }

.content-interna h2 {
  font-size: 20px;
  font-weight: bold;
  color: #ED9009;
  padding: 10px 0 25px; }

.content-interna p {
  line-height: 22px; }

.content-interna .lista {
  padding: 20px; }
  .content-interna .lista ul {
    list-style: none; }

.box-circle {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 0; }
  .box-circle .content-box {
    border: 1px solid #579F33;
    width: 250px; }
    .box-circle .content-box p.mde-box {
      padding: 55px 0 15px;
      color: #579f33; }
    .box-circle .content-box .circle {
      background-color: #579F33;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      margin: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      left: 105px;
      top: -34px; }
      .box-circle .content-box .circle .borde-line {
        border: solid 1px #fff;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .box-circle .content-box .circle .borde-line p {
          text-align: center;
          line-height: 16px;
          color: #fff;
          font-size: 30px;
          font-weight: bold; }

.menu-lateral .active {
  background-color: #ED9009;
  color: #fff; }
  .menu-lateral .active i, .menu-lateral .active p {
    color: #fff !important; }

/*******PROYECTOS FINANCIEROS**********/
select {
  width: 30%;
  height: 40px;
  margin: 25px;
  border: 1px solid #ccc;
  float: right; }

option {
  display: block;
  text-align: center; }

td, th {
  padding: 10px 20px;
  text-align: center;
  border: 2px solid #fff; }

/**index38***PREGUNTAS FRECUENTES***/
#accordion section, #accordion .pointer, #accordion h3, #accordion p {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#accordion {
  margin-bottom: 30px; }

#accordion h3 {
  line-height: 1.2;
  font-size: 20px;
  background-color: #F4F6F3;
  margin: 0;
  padding: 10px 10px 10px 30px; }

#accordion h3 a {
  color: #000;
  text-decoration: none; }

#accordion section {
  overflow: hidden;
  height: 220px;
  background-color: #F8FAF9;
  border-top: 1px solid #fff; }

#accordion p {
  padding: 0 10px;
  color: black; }

#accordion section.ac_hidden p:not(.pointer) {
  color: #fff; }

#accordion section.ac_hidden {
  height: 44px; }

#accordion .pointer {
  padding: 0;
  margin: 10px 0 0 6px;
  line-height: 20px;
  width: 13px;
  position: absolute;
  color: #000; }

#accordion section:not(.ac_hidden) h3 {
  background-color: #579f33; }

#accordion section:not(.ac_hidden) a {
  color: #fff; }

#accordion section:not(.ac_hidden) .pointer {
  color: #fff; }

#accordion section:not(.ac_hidden) .pointer {
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 0; }

/**index30***VIDEOS***/
.bloques a {
  text-decoration: none; }
  .bloques a:hover {
    text-decoration: none; }

#trailer .modal-dialog {
  margin-top: 200px;
  width: 640px;
  height: 480px; }

.hanging-close {
  position: absolute;
  top: -12px;
  right: -12px;
  z-index: 9001; }

#trailer-video {
  width: 100%;
  height: 100%;
  padding-left: 0;
  margin: 0; }

.movie-tile {
  display: block !important; }

.scale-media {
  padding-bottom: 56.25%;
  position: relative; }

.scale-media iframe {
  border: none;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white; }

.box-orange-video {
  background: rgba(249, 172, 90, 0.66);
  height: 140px;
  position: absolute;
  width: 242px;
  top: 0; }

.fa.fa-play-circle.fa-2x {
  position: absolute;
  top: 60px;
  left: 122px;
  color: #fff; }

.movie-tile p {
  color: #29201b;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 0; }
  .movie-tile p:hover {
    text-decoration: none; }

/**index30***NOTICIA***/
.wrapper {
  margin: 60px auto;
  text-align: center; }

h1 {
  margin-bottom: 1.25em; }

#pagination-demo {
  display: inline-block;
  margin-bottom: 1.75em; }

#pagination-demo li {
  display: inline-block; }

.page-content {
  background: #eee;
  display: inline-block;
  padding: 10px;
  width: 100%;
  max-width: 660px; }

#banner-carousel.carousel .carousel-indicators {
  position: absolute;
  bottom: -50px; }

#banner-carousel.carousel .carousel-inner .item {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }

/**index39***MAPAS**/
.map {
  height: 600px;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 21px; }

.tinymodal-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0; }

.tinymodal-window {
  position: fixed;
  left: 50%;
  top: 50%;
  visibility: hidden;
  opacity: 0;
  z-index: 2; }

.tinymodal-inner {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  width: 100%;
  bottom: 31px; }

.tinymodal-active .tinymodal-cover {
  visibility: visible;
  opacity: 1; }

.tinymodal-active .tinymodal-window-open {
  visibility: visible;
  opacity: 1; }

/*!
   * Base Design
   * can be overriden by your own styles in this or your stylesheed
  **/
#first-modal {
  box-sizing: content-box; }

.tinymodal-cover {
  background: rgba(0, 0, 0, 0.7); }

.tinymodal-window {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
  border-radius: 3px;
  color: #333;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  transform: translate(-50%, -50%) scale(0.9); }

.tinymodal-active .tinymodal-window-open {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1); }

.tinymodal-window-open .tinymodal-close,
.tinymodal-window-open a {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 3px 14px;
  cursor: pointer; }

.tinymodal-ready .tinymodal-window,
.tinymodal-ready .tinymodal-cover {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out; }

#close {
  position: relative;
  bottom: 63px;
  left: 18px; }

.fa {
  color: black; }

.download {
  color: black !important; }

.box-pop-title {
  height: 50px;
  background-color: #3F7B17;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 5%; }

#nombre {
  padding: 10px;
  font-size: 20px; }
