* {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    font-family: 'Century Gothic', sans-serif;
    a{
    	    -webkit-transition: 0.3s all;
    }
}

@media (min-width: 1200px) {
/*.container {
    width: 1300px;
}*/
}

/*interna1 MDE SAWETO*/
.banner-comun {
    img {
        width: 100%;
    }
}

.body-internas {
    padding: 40px 0 40px;
    .section-principal {
        text-align: center;
        background: #387014;
        color: #fff;
        padding: 10px;
        h1 {
            font-size: 21px;
            font-weight: bold;
        }
    }
    .subsecciones {
        background-color: #F2F2F2;
        padding: 20px;
        ul {
            list-style: none;
             a {
                color: #000;
                    &:hover, &:focus, {
                        text-decoration: none;
                        background-color: #ED9009;
                    }
                }
            li {
                padding: 10px 0px;
                border-bottom: 1px solid #ccc;
                font-weight: bold;
                &:hover, &:focus, {
                    text-decoration: none;
                    background-color: #ED9009;
                    color: #fff;
                }
            }
        }
    }
}

.content-interna {
    h2 {
        font-size: 20px;
        font-weight: bold;
        color: #ED9009;
        padding-bottom: 15px
    }
    p {
        line-height: 22px;
    }
    .lista {
        ul {
            list-style: none;
        }
    }
    .box-circle {
        padding: 10px;
        display: flex;
        .circle {
            background-color: #579F33;
            border-radius: 50%;
            height: 150px;
            width: 150px;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            .borde-line {
                border: solid 1px #fff;
                border-radius: 50%;
                height: 135px;
                width: 135px;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                text-align: center;
                line-height: 16px;
                color: #fff;
                  }
            }

        }
    }
}