doctype html
html
	head
		title MDE SAWETO PERÚ
		meta(name='keywords', content='Bonfire Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		//bootstrap
		link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
		// jQuery (necessary for Bootstrap's JavaScript plugins)
		// animate.css
		link(href='css/animate.css', rel='stylesheet', type='text/css', media='all')
		// mystyles
		link(href='css/main.css', rel='stylesheet', type='text/css', media='all')
		// fonts
		link(href='css/fonts.css', rel='stylesheet', type='text/css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		//favicon
		link(rel="shortcut icon",href="images/favicon.ico")
		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='js/jquery.min.js')
		// olw-carousel
		//link( rel="stylesheet" href="assets/owl.carousel.min.css")
		//link(rel="stylesheet" href="assets/owl.theme.default.min.css")
		//script(src="js/owl.carousel.js")
		//wow.js-animate
		//script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
		//link de wow animate especifico 
		script(src='js/min.js')
		script(src="js/wow.min.js")
		script.
			new WOW().init();
		script(src='js/bootstrap.min.js')
		//script(src='http://code.jquery.com/jquery-1.9.1.min.js')
		script(type="text/javascript" src="js/jquery.flexisel.js")

	body 
		section.header
			.container
				.row
					.col-md-4.col-xs-12.col-sm-12
						img(src="images/logo.png")
					.col-md-8.col-xs-12.col-sm-12
						div.head-right
							.idiomas
								ul
									li
										a.icon_peru(href='#') Español
									li
										a.icon_euu(href='') Ingles
							.logo-m-seeker
								.logo-mundial
										img(src="images/logo-banco-mundial.png" style="    height: 70px;" alt=" ")
								.search
									form
										input(type='text', value='Buscador', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '';}")
										input(type='submit', value='')

		section.menu

				nav.navbar.navbar-default
					.container
						// Brand and toggle get grouped for better mobile display
						.navbar-header
							button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							.redes-seeker.collapsed
								ul.social-in
									li
										a(href='#')
											i.facebook  
									li
										a(href='#')
											i.twitter  
									li
										a(href='#')
											i.youtube  
									li
										a(href='#')
											i.rs  
						// Collect the nav links, forms, and other content for toggling
						#bs-example-navbar-collapse-1.collapse.navbar-collapse
							ul.nav-flex
								li
									a(href='index2.html') MADE SAWETO
								li
									a(href='#') TERRITORIALIDAD
								li
									a(href='#') MANEJO FORESTAL
								li
									a(href='#') GOBERNANZA
								li
									a(href='#') ALIANZAS
								li
									a(href='#') COMUNICACIONES
								li
									a(href='#') TRANSPARENCIA
						// /.navbar-collapse
					// /.container-fluid

		section.banner-comun
			img(src="images/banner/banner-4.jpg")
		section.body-internas
			.container
				.row
					.col-md-3.menu-lateral
						.section-principal
							h1 MDE SAWETO
						.subsecciones
							ul 
								a(href='#')
									li  Quienes somos
								a(href='#')
									li  Quienes somos
								a(href='#')
									li  Quienes somos
								a(href='#')
									li  Quienes somos

					.col-md-9.content-interna
						h2 MDE SAWETO
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.lista
							ul 
								li Lorem ipsum dolor sit amet, consectetur adipisicing elit, olore magna aliqua.
								li Lorem ipsum ore magna aliqua.
								li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor a aliqua.
						.box-circle
							.circle
								.borde-line
									p Salvaguardas
							.circle
								.borde-line
									p Mecanismo de quejas
							.circle
								.borde-line
									p Conflicto de Interesés
						p Ademas de cumplir con:
						.box-circle
							.circle
								.borde-line
									p Rendición de Cuentas
							.circle
								.borde-line
									p Cumplimiento de metas en base a indicadores

		section.footer
		.footer
			.footer-top
				.container
					.col-md-5.col-sm-5.col-xs-12.footer-in
						.icon_direccion
						p  Agencia Nacional Ejecutora - WWF Perú Calle Trinidad Morán 853, Lince - Lima
					.col-md-4.col-sm-4.col-xs-12.footer-in
						.icon_correo
						p ESCRÍBENOS A: mde@mdesawetoperu.com
					.col-md-3.col-sm-12.col-xs-12.footer-in
						.icon_fono
						p.fono (+511) 440 5550
					.clearfix
			// 
		.footer-middle
			.container
				.row
					.col-md-12.all-center
						.gracias-a
							img(src="images/creditos-01.svg")
						.redes-seeker
							ul.social-in
								li
									a.icono-primary(href='#')
										i.fa.fa-facebook
								li
									a.icono-primary(href='#')
										i.fa.fa-twitter
								li
									a.icono-primary(href='#')
										i.fa.fa-youtube
								li
									a.icono-primary(href='#')
										i.rs  
				.row.pt-20
					.col-md-6.col-sm-6.col-xs-12
						p.footer-class Copyright 2017 - Saweto
					.col-md-6.col-sm-6.col-xs-12
						p.footer-class-2 Diseño y desarrollo: Raul Chavez Inche, Lima - Perú
				.clearfix

		