doctype html
html
	head
		title MDE SAWETO PERÚ
		meta(name='keywords', content='Bonfire Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		//bootstrap
		link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
		// jQuery (necessary for Bootstrap's JavaScript plugins)
		// animate.css
		link(href='css/animate.css', rel='stylesheet', type='text/css', media='all')
		// mystyles
		link(href='css/main.css', rel='stylesheet', type='text/css', media='all')
		// fonts
		link(href='css/fonts.css', rel='stylesheet', type='text/css')
		link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		//favicon
		link(rel="shortcut icon",href="images/favicon.ico")
		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='js/jquery.min.js')
		// olw-carousel
		//link( rel="stylesheet" href="assets/owl.carousel.min.css")
		//link(rel="stylesheet" href="assets/owl.theme.default.min.css")
		//script(src="js/owl.carousel.js")
		//wow.js-animate
		//script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
		//link de wow animate especifico 
		script(src='js/min.js')
		script(src="js/wow.min.js")
		script.
			new WOW().init();
		script(src='js/bootstrap.min.js')
		//script(src='http://code.jquery.com/jquery-1.9.1.min.js')
		script(type="text/javascript" src="js/jquery.flexisel.js")

	body 
		section.header
			.container
				.row
					.col-md-4.col-xs-12.col-sm-12
						img(src="images/logo.png")
					.col-md-8.col-xs-12.col-sm-12
						div.head-right
							.idiomas
								ul
									li
										a.icon_peru(href='#') Español
									li
										a.icon_euu(href='') Ingles
							.logo-m-seeker
								.logo-mundial
										img(src="images/logo-banco-mundial.png" style="    height: 70px;" alt=" ")
								.search
									form
										input(type='text', value='Buscador', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '';}")
										input(type='submit', value='')

		section.menu

				nav.navbar.navbar-default
					.container
						// Brand and toggle get grouped for better mobile display
						.navbar-header
							button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							.redes-seeker.collapsed
								ul.social-in
									li
										a(href='#')
											i.facebook  
									li
										a(href='#')
											i.twitter  
									li
										a(href='#')
											i.youtube  
									li
										a(href='#')
											i.rs  
						// Collect the nav links, forms, and other content for toggling
						#bs-example-navbar-collapse-1.collapse.navbar-collapse
							ul.nav-flex
								li
									a(href='#') MADE SAWETO
								li
									a(href='#') TERRITORIALIDAD
								li
									a(href='#') MANEJO FORESTAL
								li
									a(href='#') GOBERNANZA
								li
									a(href='#') ALIANZAS
								li
									a(href='#') COMUNICACIONES
								li
									a(href='#') TRANSPARENCIA
						// /.navbar-collapse
					// /.container-fluid

		section.slide
			#carousel
				//i.fa.fa-quote-left.fa-4x
				#banner-carousel.carousel.slide(data-ride='carousel', data-interval='3000')
					// Carousel indicators
					ol.carousel-indicators
						li.active(data-target='#banner-carousel', data-slide-to='0')
						li(data-target='#banner-carousel', data-slide-to='1')
						li(data-target='#banner-carousel', data-slide-to='2')
						li(data-target='#banner-carousel', data-slide-to='3')
					// Carousel items
					.carousel-inner
						.active.item
							img(src='images/banner/banner-1.jpg', alt='')
							.banner-text
								div.box-trans
									h2 BUSCAMOS GARANTIZAR
									h3 LA SEGURIDAD JURÍDICA DE LOS PUEBLOS INDÍGENAS
								
						.item
							img(src='images/banner/banner-2.jpg', alt='')
							.banner-text
								div.box-trans
									h2 BUSCAMOS GARANTIZAR
									h3 LA SEGURIDAD JURÍDICA DE LOS PUEBLOS INDÍGENAS
								
						.item
							img(src='images/banner/banner-3.jpg', alt='')
							.banner-text
								div.box-trans
									h2 BUSCAMOS GARANTIZAR
									h3 LA SEGURIDAD JURÍDICA DE LOS PUEBLOS INDÍGENAS
								
						.item
							img(src='images/banner/banner-4.jpg', alt='')
							.banner-text
								div.box-trans
									h2 BUSCAMOS GARANTIZAR
									h3 LA SEGURIDAD JURÍDICA DE LOS PUEBLOS INDÍGENAS
								
		//mde-saweto
		section.mde
			.container
				.row
					.col-md-2.wow.fadeInLeft(data-wow-offset="200" data-wow-delay="0.1s")
						a(href="aidesep.org.pe")
							div.icons-aidesep
					.col-md-8.anim.serie.activa.wow.fadeInUp(data-wow-offset="200" data-wow-delay="0.2s")
						h3 MDE SAWETO
						p El MDE Saweto Perú, es una iniciativa diseñada por las organizaciones indígenas amazónicas nacionales: La Asociación Interétnica de Desarrollo de la Selva Peruana (AIDESEP) y la Confederación de Nacionalidades Amazónicas del Perú (CONAP).
					.col-md-2.wow.fadeInRight(data-wow-offset="200" data-wow-delay="0.1s")
						a(href="conap.org.pe")
							div.icons-conap

		//noticias
		section.noticias
			.container
				.row
					h3 NOTICIAS

					.col-md-4.wow.zoomIn(data-wow-offset="25" data-wow-delay="0s")
						.col-md
							a.link-hover(href='single.html')
								img(src='images/pi1.jpg', alt='')
							.top-content
								h5
									a(href='single.html') LOREM IPSUN DOLOR MEIN AT
								p.fecha-index-noticia 25 de Abril del 2017
								p.text-fecha-index-noticia
									| Lorem ipsum dolor sit amet, consectet ur adipiscing elit, sed do eiusmod tem por inci didunt ut labore et dolore...


					.col-md-4.wow.zoomIn(data-wow-offset="25" data-wow-delay="0.1s")
						.col-md
							a.link-hover(href='single.html')
								img(src='images/pi2.jpg', alt='')
							.top-content
								h5
									a(href='single.html') LOREM IPSUN DOLOR MEIN AT
								p.fecha-index-noticia 25 de Abril del 2017
								p.text-fecha-index-noticia
									| Lorem ipsum dolor sit amet, consectet ur adipiscing elit, sed do eiusmod tem por inci didunt ut labore et dolore...

					.col-md-4.wow.zoomIn(data-wow-offset="25" data-wow-delay="0.2s")
						.col-md
							a.link-hover(href='single.html')
								img(src='images/pi3.jpg', alt='')
							.top-content
								h5
									a(href='single.html') LOREM IPSUN DOLOR MEIN AT
								p.fecha-index-noticia 25 de Abril del 2017
								p.text-fecha-index-noticia
									| Lorem ipsum dolor sit amet, consectet ur adipiscing elit, sed do eiusmod tem por inci didunt ut labore et dolore...

		section.ejecutoras
			section
				.container
					.content
						.col-md-12.md-col
							h3 EJECUTORAS DE SUBPROYECTOS (EPs)
							p(style='margin-bottom: 60px')
								| Las EPs son las 18 federaciones y organizaciones regionales indígenas y sus comunidades miembros de AIDESEP y CONAP, quienes recibirán recursos para la implementación de subproyectos en sus respectivos ámbitos de intervención.
			#carousel
				.container
					.row
						#fade-quote-carousel.carousel.slide(data-ride='carousel', data-interval='50')
							// Carousel indicators
							ol.carousel-indicators
								li.active(data-target='#fade-quote-carousel', data-slide-to='0')
								li(data-target='#fade-quote-carousel', data-slide-to='1')
							// Carousel items
							.carousel-inner
								.active.item
									.row 
										.col-md-6
											div.wow.fadeInLeft(data-wow-delay="0s") 
												a( href ="#")
													.box-item
														h3 AIDESEP
														p Asociación Interétnica de Desarrollo de la Selva Peruana
											div.wow.fadeInLeft( data-wow-delay="0.2s")
												a( href ="#")
													.box-item
														h3 ARPI SC
														p Asociación Regional de Pueblos Indígenas de Selva Central
											div.wow.fadeInLeft(data-wow-delay="0.4s")
												a( href ="#")
													.box-item
														h3 CODEPISAM
														p Consejo de Desarrollo de los Pueblos Indígenas de la Región San Martín
											div.wow.fadeInLeft(data-wow-delay="0.6s")
												a( href ="#")
													.box-item
														h3 COMARU
														p Consejo Machiguenga del río Urubamba, Abarca la región de Cusco
											div.wow.fadeInLeft(data-wow-delay="0.8s")
												a( href ="#")
													.box-item
														h3 CORPI SL
														p Coordinadora Regional de Pueblos Indígenas Región San Lorenzo												
										.col-md-6
											div.wow.fadeInRight(data-wow-delay="0s")
												a( href ="#")
													.box-item
														h3 CORPIAA
														p Coordinadora Regional de los Pueblos Indígenas de AIDESEP Atalaya
											div.wow.fadeInRight(data-wow-delay="0.2s")
												a( href ="#")
													.box-item
														h3 FENAMAD
														p Federación Nativa del Río Madre de Dios y Afluentes
											div.wow.fadeInRight(data-wow-delay="0.4s")
												a( href ="#")
													.box-item
														h3 ORAU
														p Organización Regional AIDESEP Ucayali
											div.wow.fadeInRight(data-wow-delay="0.6s")
												a( href ="#")
													.box-item
														h3 ORPIAN
														p Organización Regional de Pueblos Indígenas de la Amazonía Norte del Perú
											div.wow.fadeInRight(data-wow-delay="0.8s")
												a( href ="#")
													.box-item
														h3 ORPIO
														p Organización Regional de los Pueblos Indígenas de Oriente								
								.item
									.row
										.col-md-6
											div.wow.fadeInLeft(data-wow-delay="0s" style ="overflow: hidden;")
												a( href ="#")
													.box-item
														h3 ACONAKKU
														p Asociación de comunidades nativas Kukama Kukamiria del distrito de Urarinas
											div.wow.fadeInLeft(data-wow-delay="0.2s")
												a( href ="#")
													.box-item
														h3 CART
														p Central Asháninca del Río Tambo
											div.wow.fadeInLeft(data-wow-delay="0.4s")
												a( href ="#")
													.box-item
														h3 FECONACA
														p Federación de comunidades nativas Campa Asháninka
											div.wow.fadeInLeft(data-wow-delay="0.6s")
												a( href ="#")
													.box-item
														h3 FEMIAL
														p Federación de Mujeres Indígenas Artesanas de Loreto
											div.wow.fadeInLeft(data-wow-delay="0.8s")
												a( href ="#")
													.box-item
														h3 OCAM
														p Organización de Comunidades Ashánincas de Mazamari				
										.col-md-6
											div.wow.fadeInRight(data-wow-delay="0s")
												a( href ="#")
													.box-item
														h3 OCCAAM
														p Organización Central de Comunidades  Aguarunas del Alto Marañón
											div.wow.fadeInRight(data-wow-delay="0.2s")
												a( href ="#")
													.box-item
														h3 UCIFP
														p Unión de Comunidades Indígenas Fronterizas del Perú
											div.wow.fadeInRight(data-wow-delay="0.4s")
												a( href ="#")
													.box-item
														h3 URPIA
														p Unión Regional de Pueblos Indígenas de la Provincia de Atalaya
											div.wow.fadeInRight(data-wow-delay="0.6s")
												a( href ="#")
													.box-item
														h3 AIDESEP
														p Asociación Interétnica de Desarrollo de la Selva Peruana
											div.wow.fadeInRight(data-wow-delay="0.8s")
												a( href ="#")
													.box-item
														h3 AIDESEP
														p Asociación Interétnica de Desarrollo de la Selva Peruana	


		section.boxstcm
		section.index-enlaces
			.container
				.content
					.content-top-in
						.col-md-4.md-col.wow.zoomIn(data-wow-offset="20" data-wow-delay="0s")
							.col-md
								a.link-hover(href='single.html')
									img(src='images/pic1.jpg', alt='')
								.top-content(style='margin-top: 20px')
									.icons_enlace
										.icon_hoja
									h5
										a(href='single.html') TRANSPARENCIA
									.white.centrar-div
										a.btn-index-enlaces(href='single.html') SABER MÁS
										.clearfix
						.col-md-4.md-col.wow.zoomIn(data-wow-offset="20" data-wow-delay="0.1s")
							.col-md
								a.link-hover(href='single.html')
									img(src='images/pic2.jpg', alt='')
								.top-content(style='margin-top: 20px')
									.icons_enlace
										.icon_comu
									h5
										a(href='single.html') COMUNICACIONES
									.white.centrar-div
										a.btn-index-enlaces(href='single.html') VER MÁS
										.clearfix
						.col-md-4.md-col.wow.zoomIn(data-wow-offset="20" data-wow-delay="0.2s")
							.col-md
								a.link-hover(href='single.html')
									img(src='images/pic3.jpg', alt='')
								.top-content(style='margin-top: 20px')
									.icons_enlace
										.icon_mapa
									h5
										a(href='single.html') MAPAS
									.white.centrar-div
										a.btn-index-enlaces(href='single.html') VER MAPA
										.clearfix
						.clearfix
		.container
			.content
				// 
				.content-middle
					.content-middle-in
						ul#flexiselDemo1
							li
								img(src='images/ap.jpg')
							li
								img(src='images/ap1.jpg')
							li
								img(src='images/ap2.jpg')
							li
								img(src='images/ap3.jpg')
							li
								img(src='images/ap4.jpg')
							li
								
								img(src='images/ap5.jpg')
						script(type='text/javascript').
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems: 6,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: {
										portrait: {
											changePoint:480,
											visibleItems: 1
										},
										landscape: {
											changePoint:640,
											visibleItems: 2
										},
										tablet: {
											changePoint:768,
											visibleItems: 3
										}
									}
								});
							});
						

				// 

		// 
		section.suscribirse
			.container
				.content.posicion-verde.wow.zoomIn(data-wow-offset="20" data-wow-delay="0s")
					.cuadro-verde
						p  TE INVITAMOS A INCRIBIRTE Y RECIBIR MÁS INFORMACIÓN DE ESTE Y PRÓXIMOS PROYECTOS
		section.buscar_curso
			.container
				.row.container.clearfix.text-center-sm.text-center-xs
					.col-md-5.col-sm-5.col-xs-12
						.icon_suscribirse
						.interesado-box
							h4 ¡SUSCRÍBETE!
							p Recibe más información y novedades
					// Doctor Bio #1 Ends
					// Doctor Bio #2 Starts
					.col-md-6.col-sm-6.col-xs-12
						.row
							.col-md-6
								.interesado-box
									form.newsletter(action='#')
										.form-group.margin_cero
											input.form-control(type='text', placeholder='Escribe aquí tu nombre...')
							.col-md-6
								.interesado-box
									form.newsletter(action='#')
											.form-group.margin_cero
												input.form-control(type="email", placeholder='Escribe aquí tu correo electrónico...')
					// Doctor Bio #2 Ends
					// Doctor Bio #3 Starts
					.col-md-1.col-sm-1.col-xs-12
								.interesado-box
									button.btn_suscribirse(type='submit') ENVIAR
		section.footer
		.footer
			.footer-top
				.container
					.col-md-5.col-sm-5.col-xs-12.footer-in
						.icon_direccion
						p  Agencia Nacional Ejecutora - WWF Perú Calle Trinidad Morán 853, Lince - Lima
					.col-md-4.col-sm-4.col-xs-12.footer-in
						.icon_correo
						p ESCRÍBENOS A: mde@mdesawetoperu.com
					.col-md-3.col-sm-12.col-xs-12.footer-in
						.icon_fono
						p.fono (+511) 440 5550
					.clearfix
			// 
		.footer-middle
			.container
				.row
					.col-md-7
						.gracias-a
							img(src="images/gracias-a.png")
					.col-md-5
						.redes-seeker
							ul.social-in
								li
									a.icono-primary(href='#')
										i.fa.fa-facebook
								li
									a.icono-primary(href='#')
										i.fa.fa-twitter
								li
									a.icono-primary(href='#')
										i.fa.fa-youtube
								li
									a.icono-primary(href='#')
										i.rs  
				.row.pt-20
					.col-md-6.col-sm-6.col-xs-12
						p.footer-class Copyright 2017 - Saweto
					.col-md-6.col-sm-6.col-xs-12
						p.footer-class-2 Diseño y desarrollo: Raul Chavez Inche, Lima - Perú
				.clearfix

		


		