doctype html
html
	head
		include base/head.pug
		link(href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css', rel='stylesheet')
	body 
		include base/header.pug

		section.menu
				nav.navbar.navbar-default
					.container
						// Brand and toggle get grouped for better mobile display
						.navbar-header
							button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							.redes-seeker.collapsed
								ul.social-in
									li
										a(href='#')
											i.facebook  
									li
										a(href='#')
											i.twitter  
									li
										a(href='#')
											i.youtube  
									li
										a(href='#')
											i.rs  
						// Collect the nav links, forms, and other content for toggling
						#bs-example-navbar-collapse-1.collapse.navbar-collapse
							ul.nav-flex
								li
									a(href='made-saweto.html') MADE SAWETO
								li
									a(href='#') TERRITORIALIDAD
								li
									a(href='#') MANEJO FORESTAL
								li
									a(href='#') GOBERNANZA
								li
									a(href='#') ALIANZAS
								li
									a(href='#') COMUNICACIONES
								li
									a(href='#') TRANSPARENCIA
						// /.navbar-collapse
					// /.container-fluid

		section.banner-comun
			img.width-100(src="images/mde-saweto/banner-mde saweto.jpg")
		section.body-internas
			.container
				.row
					.col-md-3.menu-lateral
						.section-principal
							h1 COMUNICACIONES
						.subsecciones
							ul
								li  
									a(href="").item-sub
										i.fa.fa-circle 
										p Fortalecimiento Comunicacional

								li  
									a(href="").item-sub
										i.i.fa.fa-circle 
										p Noticias

								li.active
									a(href="").item-sub
										i.fa.fa-circle 
										p Videos

								li  
									a(href="").item-sub
										i.fa.fa-circle 
										p Plataforma Informativa
								li  
									a(href="").item-sub
										i.fa.fa-circle 
										p Publicaciones y Materiales

								li  
									a(href="").item-sub
										i.fa.fa-circle 
										p Boletines

								li  
									a(href="").item-sub
										i.fa.fa-circle 
										p Multimedia

								li  
									a(href="made-saweto-pf.html#tablaonce").item-sub
										i.fa.fa-circle 
										p Proyectos Financiados

					.col-md-9.content-interna
						// LISTO PARA MAQUETAR
						h2 MAPAS
						#map-tooltips-js.map
						// <div id='info' class='info'></div>
						aside#first-modal.tinymodal-window.text-left(data-size='40%,45%', data-newclass='photo')
							#close
								a.tinymodal-close.pull-right
									| Salir  
									span X
							.tinymodal-inner
								#content
									.row.mg-0
										.col-md-12.box-pop-title
											#nombre
										.col-md-12.col-sm-9
											.col-md-5
												#image
											.col-md-7
												#description
												#pdf_ficha
												#pdf_mapa



		include base/footer.pug
	script(type='text/javascript', src='js/tinyModal.js')
	script(src='http://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js')
	script(src='js/map.js')