/**index30***VIDEOS***/
.bloques {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
#trailer .modal-dialog {
    margin-top: 200px;
    width: 640px;
    height: 480px;
}
.hanging-close {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 9001;
}
#trailer-video {
    width: 100%;
    height: 100%;
    padding-left: 0;
    margin:0;
}
.movie-tile {
    display: block !important;
}
.scale-media {
    padding-bottom: 56.25%;
    position: relative;
}
.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
}

.box-orange-video {
      background: rgba(249, 172, 90, 0.66);
    height: 140px;
    position: absolute;
    width: 242px;
    top: 0;
}
.fa.fa-play-circle.fa-2x {
      position: absolute;
    top: 60px;
    left: 122px;
    color: #fff;
  } 
.movie-tile p {
  color: #29201b;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 0;
    &:hover {
      text-decoration: none;
    }
}

/**index30***NOTICIA***/
.wrapper{
  margin: 60px auto;
  text-align: center;
}
h1{
  margin-bottom: 1.25em;
}
#pagination-demo{
  display: inline-block;
  margin-bottom: 1.75em;
}
#pagination-demo li{
  display: inline-block;
}

.page-content{
  background: #eee;
  display: inline-block;
  padding: 10px;
  width: 100%;
  max-width: 660px;
}
#banner-carousel.carousel .carousel-indicators {
    position: absolute;
    bottom: -50px;
}
#banner-carousel.carousel .carousel-inner .item {
    opacity: 1;
    -webkit-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
}
/**index39***MAPAS**/
.map {
  height: 600px;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 21px; }

  .tinymodal-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0; }

  .tinymodal-window {
    position: fixed;
    left: 50%;
    top: 50%;
    visibility: hidden;
    opacity: 0;
    z-index: 2; }

  .tinymodal-inner {
    position: relative;
    height: 100%;
    overflow-y: hidden;
    width: 100%;
    bottom: 31px; }

  .tinymodal-active .tinymodal-cover {
    visibility: visible;
    opacity: 1; }

  .tinymodal-active .tinymodal-window-open {
    visibility: visible;
    opacity: 1; }

  /*!
   * Base Design
   * can be overriden by your own styles in this or your stylesheed
  **/
  #first-modal {
    box-sizing: content-box; }

  .tinymodal-cover {
    background: rgba(0, 0, 0, 0.7); }

  .tinymodal-window {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
    border-radius: 3px;
    color: #333;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9); }

  .tinymodal-active .tinymodal-window-open {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); }

  .tinymodal-window-open .tinymodal-close,
  .tinymodal-window-open a {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 3px 14px;
    cursor: pointer; }

  .tinymodal-ready .tinymodal-window,
  .tinymodal-ready .tinymodal-cover {
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }

  #close {
    position: relative;
    bottom: 63px;
    left: 18px; }

  .fa{
    color:black;
  }

  .download{
    color:black !important;
  }

.box-pop-title {
      height: 50px;
    background-color: #3F7B17;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5%;
}
#nombre {
    padding: 10px;
    font-size: 20px;
}