/*interna1 MDE SAWETO*/
.body-internas {
      background-image: url(../images/bg-mde-saweto.jpg);
         padding: 40px 0 40px;
      background-repeat: no-repeat;
    background-position: 0 100%;
    .section-principal {
            background-image: url(../images/pastomenu.svg);
    background-repeat: no-repeat;
    background-position: 0 100%;
        text-align: center;
        color: #fff;
        padding: 10px;
        h1 {
            font-size: 21px;
            font-weight: bold;
        }
    }
    .subsecciones {
        background-color: #F2F2F2;
        ul {
            list-style: none;
             a {
                padding: 6px 0;
                color: #000;
                display: flex;
                    &:hover, &:focus, &:active {
                        text-decoration: none;
                        color: #fff;
                        
                    }
                }
            li {

                font-weight: bold;
                padding: 0 15px;
                &:hover, &:focus, &:active {
                    text-decoration: none;
                    background-color: #ED9009;
                    color: #fff;
                }
            }
            p{
                padding: 10px 0;
                margin: 0;
                font-size: 13px;
                 &:hover, &:focus, {
                    color: #fff;
                }
            }
        }
    }
}

.content-interna {
    h2 {
        font-size: 20px;
        font-weight: bold;
        color: #ED9009;
        padding: 10px 0 25px;
    }
    p {
        line-height: 22px;
    }
    .lista {
            padding: 20px;

        ul  {
            list-style: none
        }
    }

}
.box-circle {
    text-align: center;
    display: flex;
    padding: 35px 0;
    .content-box {
        border: 1px solid #579F33;
            width: 250px;
        p.mde-box {
            padding: 55px 0 15px;
            color: #579f33;
        }
        .circle {
        background-color: #579F33;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 105px;
        top: -34px;
        .borde-line {
            border: solid 1px #fff;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
            text-align: center;
            line-height: 16px;
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            }
        }

    }
}
}
.menu-lateral .active  {
    background-color: #ED9009;
    color: #fff; 
    i , p {
      color: #fff !important; 
    }   
}
/*******PROYECTOS FINANCIEROS**********/
select {
  width: 30%;
  height: 40px;
  margin: 25px;
  border: 1px solid #ccc;
  float: right;
}
option {
  display: block;
  text-align: center;
}
td, th {
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #fff;
}